<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">    
    <title>Cruise Summary</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="css/framework7.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/my-app.css">
  </head>
  <body>
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
    
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-reveal infinite-scroll">
	
      <div class="content-block">        
	<div class="content-block-title">Upcoming cruises</div>
	<div class="list-block media-list cruises-list">
	    <ul>
		<!-- cruises will be put here dynamically -->			
	    </ul>
	</div>
	
      </div>
	<!-- Preloader -->
	<div class="infinite-scroll-preloader">
	  <div class="preloader"></div>
	</div>
    </div>
    <!-- Right panel with cover effect-->
    <div class="panel panel-right panel-cover">
      <div class="content-block">        
	<p><a href="help.html" class="button button-white">Help</a></p>
	<p><a href="about.html" class="button button-white">About</a></p>
	<p><a href="form.html" class="button button-submit open-panel">Form</a></p>
	<p><a href="#" data-template-id="passengers_template" class="create-page">Dynamic Page</a></p>
	
	
      </div>
    </div>
    
    <!-- Views-->
    <div class="views">
      <!--  main view, should have "view-main" class-->
      <div class="view view-main">
                
        <!-- Top Navbar-->
        <div class="navbar">
          <div class="navbar-inner">
            <!-- We have home navbar without left link-->
            <div class="center sliding">Cruise Summary</div>
            <div class="right">
              <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"><i class="icon icon-bars-blue"></i></a>
            </div>
          </div>
        </div>
	
	
        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
          <div data-page="index" class="page">
	      <!-- index page will be loaded here -->
	  </div>
	</div>

	
	<!-- Bottom Toolbar-->
        <div class="toolbar">
          <div class="toolbar-inner">
	      <div class="left">
		  <a href="#" class="link icon-only btn-qrcode"><i class="icon icon-qrcode"></i></a>
	      </div>
	      <div class="center updated-time">Updated Just Now</div>
		<div class="right">
		<a href="#" class="link icon-only btn-refresh"><i class="icon icon-refresh"></i></a>
		</div>
	  </div>
        </div>
	
      </div>
    </div>
    
    <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script src="cordova.js"></script>
    <script src="barcodescanner.js"></script>
    
    <script type="text/javascript" src="js/my-app.js"></script>    
    
    <!-- Cruise Template -->

<script type="text/template" id="cruise_template">
<%
    var sTotals = getPricesString(cruise);
%>
<!-- Top Navbar-->
        <div class="navbar">
          <div class="navbar-inner">
            <!-- We have home navbar without left link-->
            <div class="center sliding">Cruise "<%=cruise.title%>" Summary</div>
            <div class="right">
              <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"><i class="icon icon-bars-blue"></i></a>
            </div>
          </div>
        </div>

<div class="pages navbar-through toolbar-through">
          <!-- Page, data-page contains page name-->
          <div data-page="cruise" class="page" data-cruiseid="<%=cruise.id%>" data-orderid="">
            <!-- Scrollable page content-->
            <div class="page-content">
              <div class="content-block top">
		  <div class="content-block-inner">
		      
		    <div class="row">
			<div class="col-20">&nbsp;</div>
			<div class="col-60"><a href="#" data-panel="left" class="button open-panel">View List</a></div>
			<div class="col-20">&nbsp;</div>		    		   		    
		    </div>		                
		
		     <div class="row rect-wrap">
			<div class="col-20">&nbsp;</div>
			<div class="col-20"><div class="rect total"><%=parseInt(cruise.max_places-cruise.available_places)%></div></div>
			<div class="col-20"><div class="rect ordered"><%=parseInt(cruise.total_checked_in)%></div></div>
			<div class="col-20"><div class="rect aval"><%=parseInt((cruise.max_places-cruise.available_places)-cruise.total_checked_in)%></div></div>                  
			<div class="col-20">&nbsp;</div>
		    </div>
		
		
              
		    <!--<div class="content-block-title">What about simple navigation?</div>
		    -->
		    <div class="list-block media-list">
			 <ul>							
				<li><a href="#" data-template-id="passengers_template" data-cruiseid="<%=cruise.id%>" class="item-link item-content <%=(sTotals=='0 Passengers')?'disabled':'create-page'%>">
				    <div class="item-media">
					<img src="<%=cruise.img_path%>"/>
					<div class="avatar-bg"></div>
				    </div>
				    <div class="item-inner">
					<div class="item-title-row">
					  <div class="item-title"><%=cruise.title%></div>					  
					</div>
					<div class="item-subtitle"><%=sTotals%></div>
					<div class="item-subtitle">Date: <%=cruise.from_formatted%></div>
					<div class="item-subtitle"><b>Info:</b></div>
					
					<div class="item-text">					    
					   
					    <p><%=cruise.description%><br/>
						Vessel: <%=cruise.schooner_name%>
					    </p>
					    
					    
					    
					    
					</div>
					   
				    </div>

				  </a>
			      </li>
			      
				

		      </ul>
		    </div>
              
              </div>
	      </div>
            </div>
          </div>
	  
        </div>

</script>

<script type="text/template" id="cruise_list_items_template">
    <% _.each(cruises, function(cruise) { %>    
<li>
		    <div class="item-content">                      
			<a href="#" data-template-id="cruise_template" data-cruiseid="<%=cruise['id']%>" class="item-link item-content create-page">
			<div class="item-inner">
			    
			    <div class="item-media">
				<div class="rect <%=(cruise['total_ordered']==0)?'aval':'ordered'%>"><%=(cruise['total_ordered']==0)?'-':cruise['total_ordered']%></div>	
			    </div>
			    <div class="item-title"><%=cruise['title']%></div>
			    <div class="item-after"><%=cruise['from_formatted']%></div>
			    
			</div>		    
			    </a>
		    </div>
		    
</li>
<% }); %>
</script>


<!-- Passenger Template -->

<script type="text/template" id="passenger_template">
    <%
     var thisorder;
     _.each(cruise.orders, function(order) {
	if (order.id==orderid){
	    thisorder = order;
	    return;
	}
     });
     var totalTickets = 0;
	for (var i=1;i<6;i++){
	    if (!isNaN(parseInt(thisorder['price'+i+'_tickets'])))
		totalTickets+=parseInt(thisorder['price'+i+'_tickets']);
	}
    %>
    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
	<div class="left"><a href="#" class="back link"><i class="icon icon-back-blue"></i><span>Back</span></a></div>
	<div class="center sliding">Cruise Check In</div>
	<div class="right">
	  <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"><i class="icon icon-bars-blue"></i></a>
	</div>
      </div>
    </div>
    <div class="pages">
      <!-- Page, data-page contains page name-->
      <div data-page="passenger" class="page" data-cruiseid="<%=cruise.id%>" data-orderid="<%=thisorder.id%>">
	<!-- Scrollable page content-->
	<div class="page-content">

	  <div class="content-block top">



	    <div class="content-block-inner">
		<form method="POST" class="ajax-submit form-checkin <%=(thisorder.checked_in==1)?'checked-in':'checked-out'%>">
		<input type="hidden" name="checked_in" id="checked_in" value="<%=(thisorder.checked_in==1)?0:1%>"/>
		<input type="hidden" name="id" id="id" value="<%=thisorder.id%>"/>
		
		<div class="row warning">
		      <div class="col-100">Passenger is checked in</div>	     
		</div>
		
	        <div class="row btn-checkin-wrap">
		    <div class="col-20">&nbsp;</div>
		    <div class="col-60"><input data-checkin="1" type="submit" class="button button-submit btn-checkin" value="Check In"/></div>
		    <div class="col-20">&nbsp;</div>		    		   		    
		</div> 
		
	      <div class="list-block media-list">
		    <ul>
		      <li><a href="#" class="item-link item-content disabled">
			    <div class="item-media">
				<div class="flip-container">
					<div class="flipper">
						<div class="rect front <%=(thisorder.checked_in==1)?'ordered':'aval'%>">
						    <%=totalTickets%>
						</div>
						<div class="rect back <%=(thisorder.checked_in==1)?'aval':'ordered'%>">
						    <%=totalTickets%>
						</div>
					</div>
				</div>
			    </div>
			    <div class="item-inner">
				<div class="item-title item-title-row"><%=thisorder.name%></div>
				<div class="item-text"><%=getPricesString(cruise, thisorder)%></div>
			    </div>
			  </a>
		      </li>
		      </ul>
		      <ul style="border-top:none;">
		      <li><div class="item-content">                      
			    <div class="item-inner">
			      <div class="item-title item-title-row">Info</div>			  
				<div class="item-text" style="height: auto;">
				    <p>Cruise: <%=cruise.title%></p>
				    <p>Vessel: <%=cruise.schooner_name%></p>
				    <p>Cruise Date: Today <%=cruise.from_time_formatted%></p>
				    <p>Purchase Date: <%=thisorder.purchased_formatted%></p>
				    <p>Email Address: <%=thisorder.email%></p>
				    <p>Phone Number: <%=thisorder.phone%></p>
				    <p>Order id: <%=thisorder.id%></p>
				    <% if (thisorder.note!="" && typeof thisorder.note=='string') { %>
					<p>Note: <%=thisorder.note%></p>
				    <% } %>
				</div>
			    </div>

			  </div>
		      </li>
		      </ul>
		  </div>
		<div class="row btn-checkout-wrap">
			<div class="col-20">&nbsp;</div>
			<div class="col-60"><input data-checkin="0" type="submit" class="button button-cancel btn-checkin" value="Check Out"/></div>
			<div class="col-20">&nbsp;</div>		    		   		    
		</div> 
		
		</form>
	    </div>
	    <!-- END content-block-inner-->
	  </div>
	    <!-- END content-block-->
	</div>
      </div>
    </div>
</script>

<!-- Passengers Template -->

<script type="text/template" id="passengers_template">

<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="back link"><i class="icon icon-back-blue"></i><span>Back</span></a></div>
    <div class="center sliding">Passengers of "<%=cruise.title%>"</div>
    <div class="right">
      <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"><i class="icon icon-bars-blue"></i></a>
    </div>
  </div>
</div>


<div class="pages">
  <!-- Page, data-page contains page name-->
  <div data-page="passengers" class="page" data-cruiseid="<%=cruise.id%>"  data-orderid="">
      <!-- Search bar -->
    <form class="searchbar" data-search-list=".list-block-search" data-search-in=".item-title">
        <div class="searchbar-input">
            <input type="search" placeholder="Search">
            <a href="#" class="searchbar-clear"></a>
        </div>
        <a href="#" class="searchbar-cancel">Cancel</a>
    </form>
    
    <!-- Search bar overlay-->
    <div class="searchbar-overlay"></div>
    <!-- Scrollable page content-->
    <div class="page-content">      
      <div class="content-block top">
        <div class="content-block-inner">
          <div class="list-block media-list list-block-search searchbar-found">
                <ul>
		     <% _.each(cruise.orders, function(order) { 
			 var totalTickets = 0;
			 for (var i=1;i<6;i++){
			    if (!isNaN(parseInt(order['price'+i+'_tickets'])))
			    totalTickets+=parseInt(order['price'+i+'_tickets']);
			 }
		     %>
			<li><a href="#" data-template-id="passenger_template" data-orderid="<%=order.id%>" data-cruiseid="<%=cruise.id%>" class="item-link item-content create-page">
			    <div class="item-media">
				<%=(order.ismember==1)?'<i class="icon icon-star"></i>':''%>
				<div class="rect <%=(order.checked_in==1)?'ordered':'aval'%>"><%=totalTickets%></div>
			    </div>
			    <div class="item-inner">
				<div class="item-title item-title-row"><%=order.name%></div>
				<div class="item-text"><%=getPricesString(cruise, order)%></div>
			    </div>
			  </a>
		      </li>
		     <% }); %>
	          
		  
		 </ul>
	  </div>
	    
        </div>
      </div>
    </div>
  </div>
</div>
</script>

    
  </body>
</html>